// BEM
// ----------------------------------------
$namespace: 'el' !default;
$element-separator: '__' !default;
$modifier-separator: '--' !default;

// State Prefix
// ----------------------------------------
$state-prefix: 'is-' !default;
