// ------------------------------------------------------------------------------
// name: main
// author: mudas( mschool.tech )
// created: 2019/11/11
// ------------------------------------------------------------------------------
@import "./base";

$--html-font-size: 100px;

html {
  // 768 以下
  @include res(xs) {
    font-size: $--html-font-size * .875;
  }

  // 768 以上（包含768）
  @include res(sm) {
    font-size: $--html-font-size;
  }

  // 1024 以上（包含1024）
  @include res(md) {
    font-size: $--html-font-size;
  }

  // 1280 以上（包含1280）
  @include res(lg) {
    font-size: $--html-font-size;
  }

  // 1920 以上（包含1920）
  @include res(xl) {
    font-size: $--html-font-size;
  }

  // 3840 以上（包含3840）
  @include res(xls) {
    font-size: $--html-font-size * 1.125;
  }
}

body {
  color: $--color-text-primary;
  font-family: $--body-font-family;
  font-size: $--font-size-base;
  background-color: $--background-color-base;
  line-height: 1;

  // 字体渲染抗锯齿，只对 MacOS 的 webkit、moz 有效，Windows 系统无区别
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

a, .a {
  color: $--link-color;
  text-decoration: none;

  &:active {
    background-color: $--link-active-color;
  }

  &:hover {
    color: $--link-hover-color;
  }
}

header, .header {
  padding: $--header-padding;
}

main, .main {
  padding: $--main-padding;
}

footer, .footer {
  padding: $--footer-padding;
}

section, .section {
  padding: $--section-padding;
}

code, .code {
  color: $--code-color;
  font-family: $--code-font-family;
  font-size: $--code-font-size;
}

.error-block {
  color: $--color-text-primary;
  padding: $--padding-large;
  line-height: $--font-line-height-primary;

  &__title {
    font-weight: $--font-weight-bold;
    padding-right: 10px;
  }
}
